<div class="footer">
    <div class="footer__content" fxLayout="column" gdGap="20px">
        <div fxLayout="column" fxLayout.gt-sm="row" gdGap.lt-sm="20px">
            <div class="footer__content-info" fxLayout="column" fxFlex.gt-sm="50" fxLayoutAlign.lt-md="center center">
                <p class="item__subtitleTwo">Let's Connect</p>
                <div class="footer-social" fxLayout="row" fxLayoutAlign.lt-md="space-around center">
                    <p class="facebook col-xs-2" fxFlex="25px">
                        <i class="fab fa-facebook-f"></i>
                    </p>
                    <p class="twitter col-xs-2" fxFlex="25px">
                        <i class="fab fa-twitter"></i>
                    </p>
                    <p class="intagram col-xs-2" fxFlex="25px">
                        <i class="fab fa-instagram"></i>
                    </p>
                    <div class="youtuber col-xs-2" fxFlex="25px">
                        <i class="fab fa-youtube"></i>
                    </div>
                </div>
                <div class="footer-contact" fxLayout="column" fxLayoutAlign.lt-md="center center">
                    <p class="item__subtitleTwo col-xs-12">Contact Detail</p>
                    <p class="item-text">
                        <i class="fas fa-map-marker-alt fa-sm"></i>
                        Norte 13 #33 col. Sta. Ma. Tlachichilco
                    </p>
                    <p class="item-text">
                        <i class="fas fa-phone"></i> +123 456 78 30
                    </p>
                    <p class="item-text">
                        <i class="fas fa-envelope"></i> support@companyAlly.mx
                    </p>
                </div>
            </div> 
            <div class="footer-form" fxLayout="column" fxFlex.gt-sm="50" gdGap="10px"  fxLayoutAlign.lt-md="center center">
                <h1 class="footer-form__title">Get In Touch</h1>
                <form action="" fxLayout="column" fxFlex.gt-sm="50">
                    <div class="form-text">
                        <input type="text" name="" id="" placeholder="User*">
                    </div>
                    <div class="form-text">
                        <input type="text" name="" id="" placeholder="Email*">
                    </div>
                    <div class="form-text">
                        <textarea id="subject" name="subject" placeholder="Comment*" style="height:60px"></textarea>
                    </div>
                </form>
                <div class="form__button" fxLayoutAlign="center center">
                    <button class="footer__button">FIND OUT MORE</button>
              </div>
            </div>
        </div>
        <div class="footer-bottom row col-xs-12 center-xs bottom-xs" fxLayoutAlign="center end">
            <span> <i class="far fa-copyright"> Derechos Reservados</i>  </span>
        </div>
    </div>
  </div>
