<section class="banner" fragmentTarget="banner">
  <div class="banner-content" fxLayout='column' fxLayoutAlign="center center">
      <div gdGap="20px">
          <h1 class="item__">Meet Ally</h1>
          <p class="banner__subtitle">THIS COULD TIME</p>
      </div>
      <div fxLayout='row'  fxLayoutAlign="center center">
          <p class="item__paragraph" fxFlex.gt-sm="50%">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas, architecto doloribus a illo quia deserunt minima
              obcaecati sequi mollitia rem distinctio ipsa id nobis! Dignissimos ipsa quidem illo aliquid dolorum.
          </p>
      </div>
      <div class="banner__button">
            <button class="item__button">FIND OUT MORE</button>
      </div>
  </div>
</section>