<section class="features">
    <div class="features__content" fxLayout='column' fxLayoutAlign="center">
        <div fxLayoutAlign="center center">
            <h1 class="section__title">Features</h1>
        </div>
        <div fxLayout='column' fxLayout.gt-sm='row' fxLayoutAlign="space-around center" >
          <div class="features__content-items col-xs-12 col-md-5" fxLayout='column' fxFlex="50">
              <div class="features__content-item" fxLayout='row'>
                  <div fxLayout='column' fxFlexAlign="end" fxFlex="80">
                      <p ngClass="item__subtitle features__text">Text is great </p>
                      <p ngClass="item-content features__text">
                          Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel
                      </p>
                  </div>
                  <div class="row col-xs-3" fxLayoutAlign="center center" fxFlex="20">
                      <i class="fas fa-check-circle fa-3x"></i>
                  </div>
              </div>
              <div class="features__content-item row " fxLayout='row'>
                  <div fxLayout='column' fxFlexAlign="end" fxFlex="80">
                      <p ngClass="item__subtitle features__text">Text is great </p>
                      <p ngClass="item-content features__text">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel
                      </p>
                  </div>
                  <div class="row col-xs-3 middle-xs" fxLayoutAlign="center center" fxFlex="20">
                      <i class="fas fa-check-circle fa-3x"></i>
                  </div>
              </div>
              <div class="features__content-item row" fxLayout='row'>
                  <div fxLayout='column' fxFlexAlign="end" fxFlex="80">
                      <p ngClass="item__subtitle features__text">Text is great </p>
                      <p ngClass="item-content features__text">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel
                      </p>
                  </div>
                  <div fxLayoutAlign="center center" fxFlex="20">
                      <i class="fas fa-check-circle fa-3x"></i>
                  </div>
              </div>
          </div>
          <div class="features__content-img col-md" fxLayoutAlign="center center" fxFlex="25">
              <div class="features__content-imgTwo"></div>
          </div>
          <div class="features__content-items col-xs-12 col-md-5" fxLayout='column' fxFlex="50">
              <div class="features__content-item row" fxLayout='row'>
                  <div fxLayoutAlign="center center" fxFlex="20">
                      <i class="fas fa-check-circle fa-3x"></i>
                  </div>
                  <div fxLayout='column' fxFlex="80">
                      <p class="item__subtitle">Text is great </p>
                      <p class="item-content">
                          Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel
                      </p>
                  </div>
                  
              </div>
              <div class="features__content-item" fxLayout='row'>
                  <div fxLayoutAlign="center center" fxFlex="20">
                      <i class="fas fa-check-circle fa-3x"></i>
                  </div>
                  <div fxLayout='column' fxFlex="80">
                      <p class="item__subtitle">Text is great </p>
                      <p class="item-content">
                          Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel
                      </p>
                  </div>
              </div>
              <div class="features__content-item row" fxLayout='row'>
                  <div fxLayoutAlign="center center" fxFlex="20">
                      <i class="fas fa-check-circle fa-3x"></i>
                  </div>
                  <div fxLayout='column' fxFlex="80">
                      <p class="item__subtitle">Text is great </p>
                      <p class="item-content">
                          Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel
                      </p>
                  </div>
              </div>
          </div>

        </div>
    </div>
</section>