<section class="services">
  <div class="services__content row center-xs" fxLayout="column">
    <div class="col-xs-12" fxLayoutAlign="center center">
      <h1 class="section__title">Services</h1>
    </div>
    <div fxLayout="column" fxLayout.gt-sm="row wrap" fxLayoutAlign="space-around">
      <div class="services__content-card" fxFlex.gt-sm="32">
        <div class="services-photography" fxLayout="column" fxLayoutAlign="center center">
          <i class="fas fa-camera-retro fa-2x"></i>
          <p class="item__subtitle">Photography</p>
          <p class="section__pharagraph">
            Is the art, application and practice of creating durable images by recording light or other electromagnetic radiation,
            either electronically by means of an image sensor.
          </p>
        </div>
      </div>
      <div class="services__content-card" fxFlex.gt-sm="32">
        <div class="services-desing" fxLayout="column" fxLayoutAlign="center center">
          <i class="fas fa-pencil-ruler fa-2x"></i>
          <p class="item__subtitle">Desing</p>
          <p class="section__pharagraph">
            is the intentional creation of a plan or specification for the construction of an object or system or for the
            implementation of an activity or process.
          </p>
        </div>
      </div>
      <div class="services__content-card" fxFlex.gt-sm="32">
        <div class="services-planning" fxLayout="column" fxLayoutAlign="center center">
          <i class="far fa-lightbulb fa-2x"></i>
          <p class="item__subtitle">Planning</p>
          <p class="section__pharagraph">
            process of thinking about the activities required to achieve a desired goal. It is the first and foremost activity to
            achieve desired results.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>