<section class="banner-desk">
  <div class="banner-desk__content" fxLayout='column' fxLayout.gt-sm='row'  >
      <div class="banner-desk__img" fxFlex.lt-md="100" fxFlex.gt-sm="50"></div>
      <div class="banner-desk-text" fxFlex.gt-sm="50" gdGap="20px" fxLayoutAlign="start center">
          <h1 class="banner-desk__title">A Few Words</h1>
          <p class="item__paragraph">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas, architecto doloribus a illo quia deserunt minima
              obcaecati sequi mollitia rem distinctio ipsa id nobis! Dignissimos ipsa quidem illo aliquid dolorum.
          </p>
          <div class="banner__button">
              <button class="item__button">READ MORE</button>
          </div>
      </div>
  </div>
</section>